In [5]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv('row-data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1067 non-null   object
 1   710FN3_Damper(%)  1067 non-null   float64
 2   Water_Mix1(m3/h)  1067 non-null   float64
 3   Water_Mix2(m3/h)  1067 non-null   float64
 4   Kiln_Speed(rpm)   1067 non-null   float64
 5   710FN1_Damper(%)  1067 non-null   float64
 6   730FN1_Damper(%)  1067 non-null   float64
 7   Grate_Feed(ton)   1067 non-null   float64
 8   OffGas(deg)       1043 non-null   float64
 9   WF5(t/h)          1067 non-null   float64
 10  WF6(t/h)          1067 non-null   float64
 11  Grate_Speed(rpm)  1067 non-null   float64
dtypes: float64(11), object(1)
memory usage: 100.2+ KB

In [9]:
df['Date']=pd.to_datetime(df['Date'])
df['Date']=df['Date'].dt.date

In [10]:
df

,Date,710FN3_Damper(%),Water_Mix1(m3/h),Water_Mix2(m3/h),Kiln_Speed(rpm),710FN1_Damper(%),730FN1_Damper(%),Grate_Feed(ton),OffGas(deg),WF5(t/h),WF6(t/h),Grate_Speed(rpm)
0,2019-03-22,34.56,3.77,2.85,1.72,51.00,32.50,12383.61,827.97,14.54,19.03,6.20
1,2019-03-23,34.01,5.68,2.77,1.72,51.98,31.96,12413.71,847.22,17.42,16.49,5.98
2,2019-03-24,28.01,5.07,3.07,1.72,46.90,31.49,12277.02,844.50,17.58,18.08,5.98
3,2019-03-25,26.59,3.48,3.28,1.71,39.30,26.14,9942.13,834.06,10.72,11.61,4.72
4,2019-03-26,34.39,4.49,4.48,1.72,48.12,32.16,12960.56,805.14,17.68,17.76,6.13
...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2022-02-16,28.54,2.03,2.03,0.80,32.30,27.80,8807.69,918.79,5.58,5.89,3.37
1063,2022-02-17,29.45,1.34,1.34,0.80,30.61,27.20,8748.77,957.25,12.47,12.39,3.01
1064,2022-02-18,30.30,1.38,1.37,0.80,30.07,27.37,8762.99,944.43,9.42,9.91,2.98
1065,2022-02-19,36.67,1.90,1.91,0.87,32.01,28.77,9474.26,947.86,9.35,9.46,3.42
1066,2022-02-20,42.15,2.10,2.10,1.11,47.50,33.90,11394.76,934.31,13.97,14.04,4.47