In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from functools import reduce
import seaborn as sns
from sklearn.ensemble import IsolationForest,RandomForestRegressor,GradientBoostingRegressor

In [2]:
df1=pd.read_csv('blane_before_hpgr.csv')

In [3]:
df1.insert(loc=0, column='new_date', value=df1['Date']+' '+df1['Time'])

In [4]:
df1['new_date']=pd.to_datetime(df1['new_date'],format='%m/%d/%Y %H:%M:%S')
df1['new_date']=df1['new_date']-timedelta( minutes=0, hours=7)
df1['new_date']=df1['new_date'].dt.date
df1.drop(['Date','Time'],axis=1,inplace=True)
df1 = df1.ffill()
df1=df1.groupby(['new_date']).mean()

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 974 entries, 2019-03-20 to 2022-02-22
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Blane_before_hpgr  974 non-null    float64
dtypes: float64(1)
memory usage: 15.2+ KB

In [6]:
df2=pd.read_csv('blane_after_hpgr.csv')

In [7]:
df2.insert(loc=0, column='new_date', value=df2['Date']+' '+df2['Time'])

In [8]:
df2['new_date']=pd.to_datetime(df2['new_date'],format='%m/%d/%Y %H:%M:%S')
df2['new_date']=df2['new_date']-timedelta( minutes=0, hours=7)
df2['new_date']=df2['new_date'].dt.date
df2.drop(['Date','Time'],axis=1,inplace=True)
df2 = df2.ffill()
df2=df2.groupby(['new_date']).mean()

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 976 entries, 2019-03-20 to 2022-02-22
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Blane_after_hpgr  976 non-null    float64
dtypes: float64(1)
memory usage: 15.2+ KB

In [10]:
df3=pd.read_csv('area600.csv')

In [11]:
df3.insert(loc=0, column='new_date', value=df3['Date']+' '+df3['Time'])

In [12]:
df3['new_date']=pd.to_datetime(df3['new_date'],format='%m/%d/%Y %H:%M')
df3['new_date']=df3['new_date']-timedelta( minutes=0, hours=7)
df3['new_date']=df3['new_date'].dt.date
df3.drop(['Date','Time'],axis=1,inplace=True)
df3 = df3.ffill()
df3=df3.groupby(['new_date']).mean()

In [13]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 979 entries, 2019-03-20 to 2022-02-22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MC%     979 non-null    float64
 1   Drop    979 non-null    float64
dtypes: float64(2)
memory usage: 22.9+ KB

In [21]:
df4=pd.read_csv('row-data.csv')

In [22]:
df4.head()

,Date,710FN3_Damper(%),Water_Mix1(m3-h),Water_Mix2(m3-h),Killn_Speed(rpm),TG_Zone1_Temp(deg),710FN1_Damper(%),730FN1_Damper(%),Grate_Feed(ton),OffGas(deg),WF5(t-h),WF6(t-h),Grate_Speed(rpm)
0,22-03-2019,34.56,3.77,2.85,1.72,215.62,51.00,32.50,12383.61,827.97,14.54,19.03,6.20
1,23-03-2019,34.01,5.68,2.77,1.72,218.05,51.98,31.96,12413.71,847.22,17.42,16.49,5.98
2,24-03-2019,28.01,5.07,3.07,1.72,227.96,46.90,31.49,12277.02,844.50,17.58,18.08,5.98
3,25-03-2019,26.59,3.48,3.28,1.71,218.19,39.30,26.14,9942.13,834.06,10.72,11.61,4.72
4,26-03-2019,34.39,4.49,4.48,1.72,223.18,48.12,32.16,12960.56,805.14,17.68,17.76,6.13

In [23]:
df4['Date']=pd.to_datetime(df4['Date'],format='%d-%m-%Y')
df4['Date']=df4['Date'].dt.date
df4.rename(columns={'Date' : 'new_date'}, inplace=True)
df4 = df4.ffill()
df4=df4.groupby(['new_date']).mean()

In [24]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1071 entries, 2019-03-22 to 2022-02-24
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   710FN3_Damper(%)    1071 non-null   float64
 1   Water_Mix1(m3-h)    1071 non-null   float64
 2   Water_Mix2(m3-h)    1071 non-null   float64
 3   Killn_Speed(rpm)    1071 non-null   float64
 4   TG_Zone1_Temp(deg)  1071 non-null   float64
 5   710FN1_Damper(%)    1071 non-null   float64
 6   730FN1_Damper(%)    1071 non-null   float64
 7   Grate_Feed(ton)     1071 non-null   float64
 8   OffGas(deg)         1071 non-null   float64
 9   WF5(t-h)            1071 non-null   float64
 10  WF6(t-h)            1071 non-null   float64
 11  Grate_Speed(rpm)    1071 non-null   float64
dtypes: float64(12)
memory usage: 108.8+ KB

In [ ]:
df5=pd.read_csv('area700.csv')

In [ ]:
df5.insert(loc=0, column='new_date', value=df5['Date']+' '+df5['Time'])

In [ ]:
df5['new_date']=pd.to_datetime(df5['new_date'],format='%m/%d/%Y %H:%M')
df5['new_date']=df5['new_date']-timedelta( minutes=0, hours=7)
df5['new_date']=df5['new_date'].dt.date
df5.drop(['Date','Time'],axis=1,inplace=True)
df5 = df5.ffill()
df5=df5.groupby(['new_date']).mean()

In [ ]:
df5.info()

In [ ]:
data_frames = [df1, df2, df3,df4,df5]
df = reduce(lambda  left,right: pd.merge(left,right,on=['new_date'],how='outer'), data_frames)

In [ ]:
df.info()

In [ ]:
df = df.ffill()

In [ ]:
df.dropna(how='any',axis=0,inplace=True)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df=df[(df['Grate_Feed(ton)'] >12000) & (df['Grate_Feed(ton)'] <14000) ]

In [ ]:
col=df.columns
data=df.values
idx=df.index.values

In [ ]:
iso = IsolationForest()
yhat = iso.fit_predict(data)
yhat.shape

In [ ]:
# select all rows that are not outliers
mask = yhat != -1
mask.shape

In [ ]:
data = data[mask, :]
idx = idx[mask]

In [ ]:
df=pd.DataFrame(data,columns=col,index=idx)
df

In [ ]:
len(df)

In [ ]:
plt.figure(figsize=(15,7),dpi=80)
plt.title('Grate Speed (rpm)', fontsize=20,fontweight='bold')
f=sns.lineplot(x=range(len(df)), y=df['Grate_Speed(rpm)'], data=df )
f.set_xlabel("Date", fontsize = 20)

plt.show()

In [ ]:
df.describe()

In [ ]:
df['Pellet_Feo'] = np.where(df['FeO'] <= 0.5 ,'Very Good', None)
df['Pellet_Feo'] = np.where(((df['FeO'] <= 0.8)&(df['FeO'] > 0.5)) ,'Good', df['Pellet_Feo'])
df['Pellet_Feo'] = np.where(((df['FeO'] <= 1.2)&(df['FeO'] > 0.8)) ,'Not Bad', df['Pellet_Feo'])
df['Pellet_Feo'] = np.where(df['FeO'] > 1.2 ,'Bad', df['Pellet_Feo'])

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
#df.to_csv('Feo_analysis_data.csv',index_label = 'Date')

In [ ]:
df['Pellet_Feo'].unique()